<!-- Body -->

<body>
	<div class="banner">
		<div class="banner-layer">
			<h1 class="title-w3layouts">
				<span class="fa fa-cart-arrow-down" aria-hidden="true"></span>CLOTHES</h1>
		</div>
    <div> <app-slide></app-slide> </div>
<nav>
           <div id="menu">
              <ul>
               <li><a href="#">Trang chủ</a></li>
               <li><a href="#">QUần áo Nữ</a></li>
               <li><a href="#">Quần áo Nam</a></li>
               <li><a href="#">Set đồ đôi</a></li> 
               <li><a href="#">Liên hệ</a></li> 
               </ul>
           </div>
          
        </nav>
		<!-- cart's-Product-Display -->
		<div class="wthreeproductdisplay">
			<div class="container">
				<div class="top-grid">
					<div class="cart-grid" id="cart-1">
						<div class="img">
							<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/91308638_2499871393599574_4330531596600868864_n.jpg?_nc_cat=108&_nc_sid=07e735&_nc_ohc=LIg93WhfyH0AX_keC8d&_nc_ht=scontent-hkg3-1.xx&oh=5dfa6587df66b49eff7d18ac4adfe4cf&oe=5EA34CC5" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$60.00</li>
							<li class="right-text">$115.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">

								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #001" />
								<button type="submit" class="button w3l-cart" data-id="cart-1">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-2">
						<div class="img">
							<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/s960x960/90622952_1318187258377083_167027528634990592_o.jpg?_nc_cat=105&_nc_sid=07e735&_nc_ohc=udR8HGvg7GQAX9p5uRF&_nc_ht=scontent-hkg3-1.xx&_nc_tp=7&oh=3102219feacd23a8dea696f49121e9f0&oe=5EA37316" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$95.00</li>
							<li class="right-text">$195.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #002" />
								<button type="submit" class="button w3l-cart" data-id="cart-3">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-3">
						<div class="img">
							<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/91053293_1326138424262873_8688962755295707136_n.jpg?_nc_cat=109&_nc_sid=07e735&_nc_ohc=epMN6P4E244AX-yzsvg&_nc_ht=scontent-hkg3-2.xx&oh=65104907f1cddeb1d881dffb2c6a1ed3&oe=5EA20A1F" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$40.00</li>
							<li class="right-text">$95.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #003" />
								<button type="submit" class="button w3l-cart" data-id="cart-3">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-4">
						<div class="img">
							<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/90056934_245464443294274_943169934823784448_n.jpg?_nc_cat=111&_nc_sid=07e735&_nc_ohc=gpTuGNNlHxwAX_DpKCj&_nc_ht=scontent-hkg3-2.xx&oh=1eda8faa5f776ff343e00db88cddd3e7&oe=5EA4F38F" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$95.00</li>
							<li class="right-text">$195.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #004" />
								<button type="submit" class="button w3l-cart" data-id="cart-4">add to cart</button>
							</form>
						</div>
					</div>

					<div class="clear"></div>
				</div>
				<div class="bot-grid">
					<div class="cart-grid" id="cart-5">
						<div class="img">
							<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/90231487_2654279481476555_5727474073311641600_n.jpg?_nc_cat=102&_nc_sid=07e735&_nc_ohc=zbK6w4q50TgAX-PY3lE&_nc_ht=scontent-hkg3-1.xx&oh=811e084b27b3aef48c31c639b5a3473a&oe=5EA3FA67"alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$20.00</li>
							<li class="right-text">$45.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #005" />
								<button type="submit" class="button w3l-cart" data-id="cart-5">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-6">
						<div class="img">
							<img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/91050179_2278921129074313_4505322420357300224_n.jpg?_nc_cat=108&_nc_sid=07e735&_nc_ohc=qWMHfPANWXMAX9Oq_Do&_nc_ht=scontent-hkg3-1.xx&oh=6b477b61ee9ba7bf7b05adb668e35f92&oe=5EA32136"alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$50.00</li>
							<li class="right-text">$95.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #006" />
								<button type="submit" class="button w3l-cart" data-id="cart-6">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-7">
						<div class="img">
							<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/90344490_217931292952244_4752234025710518272_n.jpg?_nc_cat=1&_nc_sid=07e735&_nc_ohc=iifPi445AykAX9ZiT_v&_nc_ht=scontent-hkg3-2.xx&oh=e38a5eaff28cd086b15391eb26a63760&oe=5EA2D430" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$25.00</li>
							<li class="right-text">$65.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #007" />
								<button type="submit" class="button w3l-cart" data-id="cart-7">add to cart</button>
							</form>
						</div>
					</div>
					<div class="cart-grid" id="cart-8">
						<div class="img">
							<img src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/90948931_1427590450753275_4744195564919324672_n.jpg?_nc_cat=111&_nc_sid=ca434c&_nc_ohc=Dm2we5IKjV0AX_d3lJj&_nc_ht=scontent-hkg3-2.xx&oh=6601201d6ebfc8d011eee5c966e81e9d&oe=5EA278A6" alt="" height="300px" width="250px">
						</div>
						<ul class="info">
							<li>$36.00</li>
							<li class="right-text">$84.00</li>
						</ul>
						<div class="snipcart-details ">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="w3l_item" value="Striped Top ">
								<input type="hidden" name="amount" value="25.00">
								<input type="hidden" name="item_name" value="Product #008" />
								<button type="submit" class="button w3l-cart" data-id="cart-8">add to cart</button>
							</form>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
		</div>		
	<!-- //cart's-Product-Display -->
		<div class="wthreecartaits wthreecartaits2 cart cart box_1">
			<form action="#" method="post" class="last">
				<input type="hidden" name="cmd" value="_cart" />
				<input type="hidden" name="display" value="1" />
				<button class="w3view-cart" type="submit" name="submit" value="">view cart
					<span class="fa fa-cart-arrow-down" aria-hidden="true"></span>
				</button>
			</form>
		</div>
		<div class="copyright text-center">
			<p>© 2020 Shopping Clothes. All rights reserved | Design by
				<a href="http://w3layouts.com">W3layouts</a>
			</p>
		</div>

	</div>

	<!-- Default-JavaScript -->
	<script src="js/jquery-2.2.3.js"></script>
	<!-- Custom-JavaScript-File-Links -->

	<!-- cart-js -->
	<script src="js/minicart.min.js"></script>
	<script>
		// Mini Cart
		paypal1.minicart1.render({ //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js
			action: '#'
		});

		if (~window.location.search.indexOf('reset=true')) {
			paypal1.minicart1.reset();
		}
	</script>
	<!-- //cart-js -->

</body>
<!-- //Body -->